html {
    scroll-behavior: smooth;
}
body {
    padding: none;
    margin: none;
    font-family: poppins !important;
}
/* Header */
#navbar {
    position: fixed;
    top: -90px;
    width: 100%;
    display: block;
    transition: top 0.3s;
}
.header .main-container {
    max-width: 100%;
    width: 93%;
    padding: 4px 0px;
}
.navbar-brand {
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-brand img {
    width: 130px;
}

.navbar-nav .nav-link {
    font-size: 20px;
    font-weight: 400;   
    margin: 0px 8px;
    color: rgb(116, 114, 114);
}
.navbar-nav .nav-link .fa-magnifying-glass {
    font-size: 15px;
}

.navbar-toggler {
    outline: none !important;
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

/* sticky navbar */

.sticky-header {
    position: sticky;
    top: 10px;
    z-index: 999;
    
}
.sticky-header .sticky-container {
    top: 10;
    max-width: 100%;
    width: 70%;
    padding: 3px 10px;
    border-radius: 40px;
    background-color: rgb(248, 247, 247);
    box-shadow:  0px 2px 10px gray;
}

/* Carousel */

.carousel-inner img {
    height: 633px !important;
    width: 100%;
}
.carousel-control-prev,
.carousel-control-next {
    height: 100%;
    
}

/* design process */
.design-process .my-para {
    font-size: 22px ;
}

/* card container section*/
.section-cards {
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of cards */
    height: 480px;
    
}

.section-cards .web-strategy {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 4px solid rgb(226, 225, 181);
    padding: 10px;
    outline: 2px solid rgb(209, 209, 228);
    /* margin-top: 15px; */
}

.card-container {
    flex: 1; 
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto; /* Adjust to the content height */
}

.card-container .card {
    font-weight: bold;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container .card a {
    padding: 30px;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background: white;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.25s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container .card a:hover {
    transform: translate(-30px, -30px);
    border-color: #5bc0eb;
}

.card-container .card a:hover .card--display {
    display: none;
}

.card-container .card a:hover .card--hover {
    display: block;
}

.card-container .card a .card--display h2 {
    margin: 20px 0 0;
    color: blue;
    font-size: 25px;
    font-weight: bold;
}

.card-container .card a .card--hover {
    display: none;
}

.card-container .card a .card--hover h2 {
    margin: 10px 0;
    color: blue;
}

.card-container .card a .card--hover p {
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    font-size: 17px;
}

.card-container .card a .card--hover p.link {
    margin: 20px 0 0;
    font-weight: bold;
    color: #5bc0eb;
}

.card-container .card .card--border {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 2px dashed black;
    z-index: -1;
}

.card-container .card.card--dark a {
    color: white;
    background-color: black;
    border-color: black;
}

.card-container .card.card--dark a .card--hover .link {
    color: #fde74c;
}




/* Review section */

.testimonial{
    border-left: 3px solid #6ab33e;
    padding: 100px 0 100px 275px;
    position: relative
}
.testimonial:before,
.testimonial:after{
    content: "";
    width: 320px;
    height: 55px;
    border-right: 3px solid #6ab33e;
    position: absolute;
    left: 0;
}
.testimonial:before{
    border-top: 3px solid #6ab33e;
    top: 0;
}
.testimonial:after{
    border-bottom: 3px solid #6ab33e;
    bottom: 0;
}
.testimonial .pic{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    font-size: 14px;
    color: #7a7e82;
    line-height: 27px;
    position: relative;
}
.testimonial .description:before{
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: -70px;
    left: 0;
    font-size: 20px;
    color: #7a7e82;
}
.testimonial .testimonial-title{
    font-size: 22px;
    font-weight:800;
    color: #22272c;
    text-transform: capitalize;
}
.testimonial .post{
    display: block;
    font-size: 15px;
    font-weight: 700;
    color :#6ab33e;
    margin-top: 10px;
}
.owl-theme .owl-controls{
    text-align: right;
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-buttons div{
    background: #6ab33e;
    border-radius: 0;
    opacity: 1;
    padding: 5px 10px;
}
.owl-prev:before,
.owl-next:before{
    content: "\f053";
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    color: #fff;
}
.owl-next:before{
    content: "\f054";
}

/* contact form */
.contact-image {
    animation-name: scrollAnimation;
    animation-duration: 1s; /* Adjust the duration as needed */
    animation-iteration-count: infinite; /* To make the animation repeat infinitely */
    animation-timing-function: linear; /* Linear timing */
}

    @keyframes scrollAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(50%);
    }
}

.contact-form{
    background: rgb(218, 247, 238);
    margin-top: 6%;
    margin-bottom: -3%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: ease-in-out 1s;
}
.contact-form .btnContact:hover {
    background: blue;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

/* footer */
.footer {
    padding-top: 28px;
    background-color: rgb(230, 229, 229);
}
.footer .container h2 {
    font-size: 50px;
    font-weight: 700;
    color: black;
}

.footer .container .footer-columns {
    border-left: 1px solid rgba(243, 192, 192, 0.548);
}


.footer .container .footer-columns h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 25px;
    color: rgb(58, 57, 57);
}
.footer .footer-columns ul {
    padding-left: 17px;
}
.footer .container .footer-columns li ,
.footer .container .footer-columns li a  {
    list-style: none;
    text-decoration: none;
    color: rgb(32, 0, 0);
    margin: 8px 0px;
    font-size: 15px;
    font-weight: 400;
}

.footer .container .footer-columns li:hover a {
    text-decoration: underline;
} 
.footer-logo {
    width: 160px;
}
.footer hr {
    border: 1px solid rgb(236, 177, 177);
    max-width: 100%;
    width: 950px;
}
.footer .tranparent-text {
    font-weight: bold;
    font-size: 42px;
    color: rgba(128, 128, 128, 0.164);
}
.footer .address-name li {
    list-style: none;
    font-size: 14px;
}
.footer .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(243, 192, 192, 0.548);
}
.footer .footer-bottom br{
    display: none;
}
     .footer-logo {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s ease-out;
}

.footer-logo.show {
    opacity: 1;
    transform: translateX(0);
}

/* responsive starts here */
@media only screen and (max-width: 1440px){
    .contact-form .btnContact  {
        width: 38%;
    }
}
@media only screen and (max-width: 1024px) {
    /* carousel */
    .carousel-inner img {
        height: 500px !important;
    }
    /* cards responisve */
    .card-container {
        margin: 20px;
    }
    .section-cards {
        padding: 15px 0px;
        display: flex;
        flex-wrap: wrap; /* Allow wrapping of cards */
        height: 350px;  
    }
    .section-cards .web-strategy {
        width: 100px;
        height: 100px;
    }
    .card-container {
        flex: 1; 
        margin: 30px;
        display: flex;
        align-items: center;
        margin-left: none;
        justify-content: center;
        height: 100%; /* Adjust to the content height */
    }
    .card-container .card a {
        height: 100%;
        padding: 20px;
    }
   
    .card-container .card a:hover {
        transform: none;
    }
    .card-container .card a .card--hover p {
        font-weight: normal;
        /* line-height: 1.5; */
        text-align: center;
        font-size: 15px;
        text-align: justify;
    }
    .card-container .card a:hover .card--display {
        display: none;
    }
    .card-container .card a:hover .card--hover {
        display: block;
    }
    /* review */
    .testimonial{
        padding: 80px 0 80px 265px;
    }
    /* contact form */
    .contact-form .btnContact  {
        width: 45%;
    }
    /* footer */
    .footer hr { 
        width: 760px;
    }
    .footer .container h2 {
        font-size: 42px;
    }
}
@media only screen and (max-width: 768px) {
    /* header */
    .header .main-container {
        padding: 2px 0px;
    }
   
     .navbar-nav .nav-link {
        font-size: 19px;
        font-weight: 400;
        margin: 0px 2px !important;
    }
    /* carousel */
    .carousel-inner img {
        height: 450px !important;
    }
    /* cards responsive */
    .section-cards {
        padding: 15px 0px;
        display: flex;
        flex-wrap: wrap; /* Allow wrapping of cards */
        height: auto;  
    }
    .card-container {
        flex: none; 
        margin: 30px;
        display: flex;
        margin: none;
        align-items: center;
        justify-content: center;
        height: 100%; /* Adjust to the content height */
    }
    .card-container {
        width: 100%; 
        margin: 10px 0; 
        margin-left: none;
    }
    .card-container .card {
        width: 100%; 
        height: auto; 
    }
    .card-container .card a {
        height: 100%; 
        padding: 20px; 
    }
    .section-cards .web-strategy {
        width: 90px;
        height: 90px;
        padding: 8px;
    }
    .card-container .card a:hover {
        transform: none;
    }
    .card-container .card a:hover .card--display {
        display: none;
    }
    .card-container .card a:hover .card--hover {
        display: block;
    }
    /* design process */
.design-process .my-para {
    font-size: 19px ;
}
    /* review */
    .testimonial{
        padding: 0;
        border: none;
    }
    .testimonial:before,
    .testimonial:after{
        border: none;
    }
    .testimonial .pic{
        position: relative;
        top: 0;
        left: 0;
    }
    .testimonial .description{
        margin-top: 15px;
    }
    .testimonial .description:before{
        content: "";
    }
    /* contact form */
    .contact-form .btnContact  {
        width: 60%;
    }
    /* footer */
    .footer hr { 
        width: 500px;
    }
    .footer .container h2 {
        font-size: 38px;
        font-weight: 700;    
        justify-content: center; display: flex;
    }
    .footer .container .footer-columns h3 {
        font-weight: 700;
        font-size: 19px;
    }
}
@media only screen and (max-width: 425px) {
    /* header */
    .navbar-brand img {
        width: 100px;
    }
    .navbar-nav .nav-link {
        font-size: 15px;
        font-weight: 400;
        margin: 0px 2px !important;
        border-bottom: 1px solid gray;
    }
    .navbar-toggler {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4px;
    }
    .navbar-nav .nav-link .fa-magnifying-glass {
        display: none;
    }
    /* design process */
.design-process .my-para {
    font-size: 16px ;
}
    /* cards responsive */
    .section-cards {
        padding: 15px 0px;
        display: flex;
        flex-wrap: wrap; /* Allow wrapping of cards */
        height: auto;  
    }
    .card-container {
        margin: 10px;
        margin-left: auto;
    }
    .card-container .card {
        width: 100%;
    }
    .card-container .card a {
        height: auto;
        padding: 15px;
    }
    .section-cards .web-strategy {
        width: 80px;
        height: 80px;
        padding: 6px;
    
    }
    .card-container .card a:hover {
        transform: none;
    }
    .card-container .card a:hover .card--display {
        display: none;
    }
    .card-container .card a:hover .card--hover {
        display: block;
    }
    /* review */
    .testimonial .description{
        margin-top: 35px;
    }
     /* contact form */
     .contact-form .btnContact  {
        width: 50%;
    }
     /* carousel */
     .carousel-inner img {
        height: 300px !important;
    }
    .footer hr { 
        width: 180px;
    }
    .footer .container h2 {
        font-size: 30px;
        font-weight: 600; 
    }
    .footer .container .footer-columns h3 {
        font-weight: 700;
        font-size: 16px;
    }
    .footer .footer-bottom {
        font-size: 14px;
    }
    .footer .footer-bottom br{
        display: block;
    }
}
@media only screen and (max-width: 375px) {
    /* carousel */
    .carousel-inner img {
        height: 270px !important;
    }
     /* contact form */
     .contact-form .btnContact  {
        width: 52%;
    }
    /* footer */
    .footer hr { 
        width: 150px;
    }
    .footer .container h2 {
        font-size: 28px;
        font-weight: 600; 
    }
    .footer .footer-address {
      
        flex-wrap: wrap;
    }
    .footer .footer-address .ftr-cols {
        
    }
}
@media only screen and (max-width: 320px) {
  /* carousel */
  .carousel-inner img {
    height: 250px !important;
}
 /* contact form */
 .contact-form .btnContact  {
    width: 64%;
}
/* footer */
.footer hr { 
    width: 90px;
}
.footer .container h2 {
    font-size: 20px;
    font-weight: 800; 
}
.footer .container .footer-columns h3 {
    font-weight: 700;
    font-size: 15px;
}
}
